@charset "utf-8";
/* CSS Document */
* {margin-top:0; }


/* This font family is applied to the body tag in the masterpage of the AI Connect section for the purpose of using Tahoma, which includes the slabs for the letter I --- SD 09/2012 */ 
.aiconnect{font-family: Tahoma, Geneva, sans-serif;
}

/* This id appears on the Master Pages for AI Connect. Not placed directly on any of its content pages*/

.amtrav{
	margin: 50px 0 0 28px;
	width: 463px;
	border: solid 1px #283955;
	height:340px;
	border-radius: 5px;
	background-color:white;
	box-shadow: 0px 0px 20px #888888;
}

.ahead{
	color: #283955;
	font-size: 40px;
	text-align: center;
	margin: 20px 0 0 0;
	font-family: helvetica;
	font-weight: normal;
}

.subcol1{
	width: 220px;
	float:left;
	margin: 0 10px 0 0;
}

.subcol2{
	width: 220px;
	
	float:left;
	margin: 0 0 0 10px;
}

.apptxt{
	font-size: 20px;
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
	margin:20px;
}

.app{
	padding: 5px;
	font-size: 30px;
	font-family: helvetica;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	width:90%;
	margin:8px;
	
	background: rgb(179,17,53); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(179,17,53,1) 0%, rgba(215,20,64,1) 50%, rgba(179,17,53,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,17,53,1)), color-stop(50%,rgba(215,20,64,1)), color-stop(100%,rgba(179,17,53,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(179,17,53,1) 0%,rgba(215,20,64,1) 50%,rgba(179,17,53,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(179,17,53,1) 0%,rgba(215,20,64,1) 50%,rgba(179,17,53,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(179,17,53,1) 0%,rgba(215,20,64,1) 50%,rgba(179,17,53,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(179,17,53,1) 0%,rgba(215,20,64,1) 50%,rgba(179,17,53,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31135', endColorstr='#b31135',GradientType=0 ); /* IE6-9 */
	
	
}

.app:hover{

	text-decoration: none;

	
	background: #B31135;
	
}

a:hover{
	text-decoration: none;
	
}

#aic-cont {
width:800px;
float: left;
margin: 0 0 0 6px;
}

ul { list-style-type:square; } 



#aic-title{
padding: 4px 0;
}

#aic-title h1{
color:#343435; 
text-align: center;
}

#menu-holder{
margin:20px auto; height: 40px; 
background-color:#eee; 
border-top: solid 2px #cc0033;
}



#aic-main {margin: 0 auto; clear:left; }


.aic-cont-left
{
padding: 0;
width: 370px;
float: left;
}


.aic-cont-right
{
padding: 0;
margin-left:10px;
float: left;
}


.four-buttons tr td {
	padding-top: 10px;
}


.clear {clear: both;}


#aic-footer {
width:800px;
clear:left;

}


#aic-footer p 
{
text-align:right;
padding: 8px; }



#sponsors{
width: 800px;
border:solid 1px #ddd;
}

#sponsors img {
}

#sponsors-tbl { border-collapse:collapse; border: solid 1px #777; width:99%; }

#sponsors-tbl td { padding: 10px; border: solid 1px #777; }



.four-buttons a:hover img {
	border-top: solid 10px #cc0033;
}
